
$cerulean: #0086c6;
$dark-grey-blue: #2c3e50;
$bluish: #2c94c6;
$yellow-orange: #ffb400;
$orange: #f0600f;
$topaz: #1abc9c;
$silver: #bdc8d0;
$dark: #1a1c27;
$dark-two: #222533;
$black: #353535;
$greeny-blue-70: rgba(64, 170, 166, 0.7);
$grey: #dfdfdf;
$black-70: rgba(0, 0, 0, 0.7);
$black-deep: #000;
$white: #fff;
$grey-title: #30373d;
$grey-text: #a1b1bc;
$gainsboro: #e8e8e8;
$aspid-gray: #758590; 
$green-blue: #243240;
$border-color: #243240;