@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
// @import "outline";

body {
  color: #2f3035;
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  overflow-x: hidden;
  min-width: 320px;
  padding-bottom: 100px;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-section {
  margin-bottom: 80px;
}

/*=============================================
=         SECTION  First-screen            =
=============================================*/

.first-screen {
  width: 100%;
  background-color: #f5f5f5;
}

.first-screen__inner {
  max-width: 1940px;
  margin: 0 auto;
  max-height: 1088px;
  position: relative;
}

.first-screen__img {
  max-width: 1940px;
  width: 100%;
}

.first-screen__block-title {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: auto;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: $dark-grey-blue;
  font-family: "Lato-Bold", sans-serif;
  line-height: normal;
  font-weight: bold;
  font-weight: 900;
  text-transform: uppercase;
  h1 {
    font-size: 87.5px;
    letter-spacing: -1.8;
    margin-top: 4px;
  }
  h2 {
    font-size: 57px;
    letter-spacing: -1.3;
  }
}

.first-screen__link {
  order: -1;
  margin-top: 45px;
  border-radius: 6px;
  box-shadow: 0px 5px 0 0 #c7950a;
  background-color: #ecaf06;
  padding: 22px 26px 20px;
  color: $black-deep;
  font-family: "Lato-Bold", sans-serif;
  line-height: normal;
  font-weight: bold;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: normal;
}

/*=====  End Section First-screen  ======*/

/*=============================================
=           SECTION  NAVIGATION          =
=============================================*/
.navigation__wrapper {
  padding: 15px 0 15px;
  border-bottom: 2px solid $grey;
}
.row__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  picture {
    margin-left: -6px;
    // margin-top: 14px;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 880px;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  font-family: Lato-Regular, serif;
  font-size: 15px;
  color: $black-70;
  width: 100%;
  a {
    padding: 25px 23px 25px;
    position: relative;
    display: block;
  }
  $marginBorder: 20%;
  a:before {
    content: "";
    position: absolute;
    top: $marginBorder;
    bottom: $marginBorder;
    left: 0;
    right: 0;
    border-bottom: 1.5px solid $grey;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  a:hover:before {
    transform: scaleX(1);
  }
}
.button__search {
  margin-right: -5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__search-img {
  width: 21px;
  height: 21px;
}
/*=====  End of NAVIGATION  ======*/

/*=============================================
=            SECTION  WELCOME            =
=============================================*/
.welcome {
  padding: 84px 0 87px;
}
.welcome__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome__title {
  font-family: Lato;
  font-size: 43.5px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.3;
  text-align: center;
  color: #30373d;
  text-transform: uppercase;
}
.welcome__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6px;
  margin-left: 0;
  margin-bottom: 42px;
}

.subtitle__text {
  font-family: "Helvetica-Neue-Ultra-Light-Ex", sans-serif;
  font-size: 77px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: $black-deep;
  margin-left: 5px;
}
.welcome__text {
  max-width: 958px;
  max-height: 62px;
  margin: 0 auto;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #30373d;
  margin-bottom: 82px;
}
.icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: $cerulean;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.item__img {
  width: 31px;
  height: 31px;
  transition: all 0.3s ease;
}
.icon__wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  z-index: -1;
  border: solid 5px $greeny-blue-70;
  transition: all 0.3s ease;
}
.icon__wrapper:hover {
  transform: scale(0.8);
  .item__img {
    transform: scale(1.2);
  }
}
.icon__wrapper:hover:after {
  transform: scale(1.2);
  z-index: 100;
}
.card__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 235px;
  text-align: center;
}
.item__title {
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: center;
}
.item__text {
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #a1b1bc;
}
/*=====  End of Section WELCOME  ======*/

/*=============================================
=           SECTION PORTFOLIO            =
=============================================*/

.portfolio {
  padding: 96px 0 102px;
  background-color: $dark-grey-blue;
}
.portfolio__wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio__title {
  font-family: "Lato-Light", sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.3;
  text-align: center;
  color: $white;
  margin-bottom: 16px;
  span {
    font-family: "Lato-Bold", sans-serif;
    font-size: 30px;
    font-weight: 600;
  }
}
.portfolio__subtitle {
  margin-bottom: 20px;
}
.portfolio__text {
  max-width: 850px;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  margin-bottom: 45px;
}
.portfolio__gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	margin-bottom: 55px;
  .gallery__buttons {
    max-width: 1200px;
    margin-left: -15px;
    padding-bottom: 52px;
  }
  .gallery__button {
    margin: 0 7px;
    padding: 1px 13px 1px 13px;
    border: solid 1px #3f556b;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.3;
    background-color: transparent;
    cursor: pointer;

    transition: all 0.3s ease;
  }
  .gallery__button:hover {
    border-color: transparent;
    background-color: $yellow-orange;
  }
}
.gallery__images {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 480px));
  grid-template-rows: repeat(3, minmax(150px, 298px));
}
.gallery__item {
  padding: 0 0 50% 0;
  position: relative;
  // overflow: hidden;
}
.gallery__item--wide {
  grid-column: 1/3;
	grid-row: 2/3;
}
.gallery__item--big {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item img {
	width: 100%;
	height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio__button{
  font-family: "Lato-Bold", sans-serif;
  font-size: 15px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
	background-color: $yellow-orange;
	padding: 16px 24px;
	border-radius: 5px;
	border: none;
  color: $white;
	display: block;
	margin: 0 auto;
}

/*=====  End of Section PORTFOLIO  ======*/

/*=============================================
=            SECTION FOOTER            =
=============================================*/

.footer {
  width: 100%;
  padding-bottom: 400px;
  background-color: rgb(239, 175, 241);
}

/*=====  End of  FOOTER  ======*/
